.App {
  text-align: center;
}
.p-column-filter .p-listbox-list-wrapper{
  max-height: 40vh;
}
.adresse p{
  margin:0;
  white-space: nowrap;
}
.AfficheAsso{
  min-width: 80vw;
  min-height: 80vh;
}
.composantCarte{
  height:60vh;
}